.description { 
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

footer {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #cc95c0, #dbd4b4, #7aa1d2 );
    background-size: 250% 250%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card {
    font-family: 'Montserrat', sans-serif;
    width: 250px;
    min-height: 300px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    background-color: #ffffff;
    flex-direction: column; 
    border-radius: 10px;
    transition: 0.2s;
    position: relative;
}
  
.card:hover {
    box-shadow: 4px 8px 10px rgba(54, 54, 54, 0.2);
    transform: scale(0.95);
}
  
.cardDescription {
    flex: 0 0 220px; 
    position: relative;
    overflow: hidden; 
}
  
.cardImage {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
.cardImage > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.2s;
}
  
.cardBottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 10px;
}

.cardTitle {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
}

.cardPrice {
    text-align: center;
}

.cardPrice::after {
    content: "₽";
    margin-left: 4px;
    position: relative;
}
  
.cardAdd {
    display: block;
    width: 30%;
    font-weight: 400;
    font-size: 24px;
    color: #70c05b;
    padding: 10px;
    text-align: center;
    border: 1px solid #70c05b;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: auto;
}
  
.cardAdd:hover {
    border: 1px solid #70c05b;
    background-color: #70c05b;
    color: #fff;
}

.cardDelete{
    display: block;
    width: 30%;
    font-weight: 400;
    font-size: 24px;
    color: #f80303;
    padding: 10px;
    text-align: center;
    border: 1px solid #f80303;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: auto;
}

.cardDelete:hover {
    border: 1px solid #f80303;
    background-color: #f80303;
    color: #fff;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    width: 100%;
    max-width: 1500px;
    justify-content: center;
    justify-items: center; 
    column-gap: 30px;
    row-gap: 30px; 
    margin: 0 auto;
}

.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigationBar {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #453b80;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.totalMoney {
    display: block;
    color: rgb(255, 255, 255);
    padding: 14px 16px;
}

.spendMoney {
    display: block;
    color: rgb(255, 255, 255);
    padding: 14px 16px;
}

.totalMoney::after {
    content: "₽";
    margin-left: 5px;
}

.spendMoney::after {
    content: "₽";
    margin-left: 5px;
}

.receipt{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.saveButton{
    font-size: 24px;
    color: #453b80;
    padding: 10px;
    border: 1px solid #453b80;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: auto;
    font-family: 'Montserrat', sans-serif;
}

.saveButton:hover {
    border: 1px solid #453b80;
    background-color: #453b80;
    color: #fff;
}

.receiptSaveButton{
    text-align: center;
}

.resultPriceReceipt{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px; 
}

.resultPriceReceipt::after {
    content: "₽";
    margin-left: 5px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    padding-top: 30px;
    width: 500px;
}

.headerDescription {
    font-size: 30px;
}

.mainDescription{
    font-size: 20px;
}